<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}
</head>

<body>
    {{!-- navbar  --}}
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class='row'>
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div  -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/bg3.jpg" alt="Bishal" class="img-fluid" title="Bishal" />
                        </figure>
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Hey!</p>
                        <h1>I am a<span class="text_clr"> MERN stack developer</span> and a <span class="text_clr">
                                Software Engineer </span></h1>
                        <a href="https://www.linkedin.com/in/suvechha-bishal/" target="_blank"><button>Connect with
                                Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {{>footer}}
    {{>bottomjslinks}}
</body>

</html>